body {
  padding: 0;
  margin: 0;
  font-family: Franklin, sans-serif !important;
  font-size: 12px;
}

.question_list {
  padding-left: 10px;
  padding-bottom: 40px;
}

.question_list .question_section {
  border: none;
}

.question {
  margin-top: 10px;
  padding-left: 20px;
}

.question.tight {
  margin-top: 2px;
}

.question .description {
  padding-left: 0;
  margin-bottom: 0;
}

.question_list h1 {
  margin-top: 3px;
  font-size: 2em;
  font-weight: bold;
}

.question_list h2 {
  margin-top: 10px;
  font-size: 1.2em;
}

.question_list h3 {
  margin-top: 20px;
  font-size: 1.1em;
}

.question_list h4 {
  margin-bottom: 3px;
  font-size: 1.1em;
  color: black;
}

.button {
  margin-top: 0px;
  height: 40px !important;
  width: 100px;
  font-size: 1.6em;
  float: right;
}

.custom_list_form label {
  font-family: adobe-garamond-pro, Garamond, serif;
  font-size: 0.8em;
  padding-right: 20px;
  min-width: 160px;
  width: auto !important;
}

@media screen and (max-width: 900px) {
  .button {
    margin-right: 10px;
  }
}

@media screen and (min-width: 900px) {
  .custom_list_form label {
    font-size: 1em;
  }

  ul > li > input, textarea {
    width: 550px !important;
  }

  ul > li > input[type=checkbox] {
    width: auto !important;
  }

  li {
    margin-bottom: 5px;
  }

  ul, p {
    width: 710px;
  }
}
    
